<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>mongodb crud <button id="logout">注销</button></h1>
        <div>
            <div>用户名:<input id="username" /></div>
            <div>密码:<input type="password" id="password" /></div>
            <div>年龄:<input type="number" id="age" /></div>
            <div><button id="register">添加</button></div>
        </div>
        <div>
            <div>
                <table border="1px solid black" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td>id</td>
                            <td>用户名</td>
                            <td>密码</td>
                            <td>年龄</td>
                        </tr>
                    </thead>
                    <tbody id="userList"></tbody>
                </table>
            </div>
        </div>
        <script>
            var register = document.querySelector("#register");
            var username = document.querySelector("#username");
            var password = document.querySelector("#password");
            var age = document.querySelector("#age");
            var userList = document.querySelector("#userList");
            var logout = document.querySelector("#logout");

            // 拦截器
            axios.interceptors.request.use(
                function (config) {
                    console.log("config.headers",config.headers);
                    const token = localStorage.getItem("token");
                    // Authorization : Bearer token 这个是http规范里面的要求
                    config.headers.Authorization = `Bearer ${token}`;
                    return config;
                },
                function (error) {
                    return Promise.reject(error);
                }
            );

            // 响应后存储token
            axios.interceptors.response.use(
                function (response) {
                    console.log(response);
                    const {authorization} = response.headers;
                    authorization && localStorage.setItem("token", authorization);
                    return response;
                },
                function (error) {
                    if (error.response.status === 401) {
                        localStorage.removeItem("token");
                        location.href="/login";
                    }
                    return Promise.reject(error);
                }
            );

            // 注册 添加add
            register.onclick = () => {
                axios
                    .post("/api/user/add", {
                        username: username.value,
                        password: password.value,
                        age: age.value,
                    })
                    .then((res) => {
                        console.log(res);
                        alert("用户增加操作成功")
                    });
            };

            // 获取userList
            axios.get("/api/user/list").then((res) => {
                console.log(res);
                render(res.data);
            });

            // TODO: 对获取的数据进行渲染
            function render(data) {
                userList.innerHTML = data
                    .map(
                        (item) =>
                            `<tbody><tr><td>${item._id}</td><td>${item.username}</td><td>${item.password}</td><td>${item.age}</td><td>更新</td><td>删除</td></tr></tbody>`
                    )
                    .join("");
            }

            // logout注销
            logout.onclick = () => {
                localStorage.removeItem("token");
                location.href="/login";
            };
        </script>
    </body>
</html>
